
.App-TOP {
  background-color: #282c32;
  min-height: 100vh;   /*   Minimum pixels that the background color will cover */
}

.App-header {
  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-text{
  color: blue;
  text-align: center;

}
